---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<html
  lang="en"
  class="scroll-smooth selection:bg-blue-500 selection:text-white">
  <head>
    <BaseHead/>
  </head>

  <body class="bg-white flex flex-col min-h-screen">
    <Navigation />
    <main class="grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
