.navigation {
  .btn {
    box-shadow: none;
  }
  box-shadow: 0 1px 2px $text-light;
  background-color: $background;
}
.navbar-brand .navbar-item {
  @include desktop {
    padding-left: 0;
  }
  img {
    max-height: unset;
  }
}
.navbar-burger {
  height: 3rem;
  width: 3rem;
  border: 0;
  margin-top: 5px;
  outline: 0 !important;
}
.navbar {
  background-color: transparent;
}
.navbar-menu {
  @include desktop {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.3rem;

    .navbar-start > .navbar-item {
      padding: 0 !important;
    }
  }
  box-shadow: none;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5658;

  .navbar-link {
    padding-left: 26px;
    font-weight: 400;
    font-family: $primary-font;
    font-size: 18px;
    padding: 8px !important;
    transition: all 0.25s ease;
    &:hover {
      color: $secondary !important;
      background-color: transparent !important;
    }
  }
}

.navbar-item.has-dropdown:hover .navbar-link {
  background-color: transparent !important;
  color: $secondary !important;
}

.navbar-brand {
  font-weight: 400;
}

.navbar-dropdown {
  visibility: hidden;
  filter: alpha(opacity=0);
  opacity: 0;
  transition: all 0.2s ease-in, visibility 0s linear 0.2s, transform 0.2s linear;
  -webkit-transition: all 0.2s ease-in, visibility 0s linear 0.2s,
    -webkit-transform 0.2s linear;
  -o-transition: all 0.2s ease-in, visibility 0s linear 0.2s,
    -o-transform 0.2s linear;
  -ms-transition: all 0.2s ease-in, visibility 0s linear 0.2s,
    -ms-transform 0.2s linear;
  width: 250px;
  padding: 8px 0;
  border-radius: 0px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.05);

  @include desktop {
    visibility: visible;
    filter: alpha(opacity=1);
    opacity: 1;
    display: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar-link::after {
  display: none !important;
}

.has-dropdown:hover .navbar-dropdown {
  visibility: visible;
  transition: all 0.45s ease 0s;
  opacity: 1;
}

.navbar-dropdown .navbar-item {
  padding: 0.7rem 1.5rem;
  text-transform: uppercase;
  font-size: 14px;

  &:hover {
    background: $primary-color !important;
    color: $light !important;
  }
}

ul.dropdown-menu li {
  padding-left: 0px !important;
}

#navbar.nav-text-white {
  .navbar-link,
  .navbar-brand {
    color: $light;
    @include desktop {
      color: black;
    }
  }
}
.navbar-item.has-dropdown {
  padding: 0.5rem 0.75rem;
}
