*.launch
*.log
*.sqlite
*.sublime-workspace
.DS_Store
.c9/
.cache
.classpath
.env
.env.*
.history
.idea
.project
.sass-cache
.settings/
.temp
.vscode
Thumbs.db
__data__
bazel-out
chrome-profiler-events*.json
connect.lock
coverage
dist
lib/
libpeerconnection.log
node_modules
out-tsc
speed-measure-plugin*.json
tmp
typings
/vendure/src/__admin-ui/
vendure/static/email/test-emails/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!/vendure/src/__admin-ui/dist/

/packages/vendure-plugin-google-storage-assets/__data__/
__admin-ui/
