@mixin mobile-xs {
  @media (max-width: 400px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 575px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1023px) {
    @content;
  }
}
@mixin large-desktop {
  @media (max-width: 1215px) {
    @content;
  }
}
@mixin desktop-xl {
  @media (max-width: 1650px) {
    @content;
  }
}

@mixin size($size) {
  width: $size;
  height: $size;
}
