// Fonts
html {
  overflow-x: hidden;
}

body {
  line-height: 1.6;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: $base-color;
  font-weight: 400;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $secondary-font;
  font-weight: 700;
  color: $text;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 44px;
  line-height: 1.3;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.3rem;
  line-height: 30px;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  line-height: 30px;
}
