// Import Bulma's core
@import 'node_modules/bulma/sass/utilities/_all';

// Set your colors

$background: #1a1b1e;
$text: #ffffff;
$text-light: #a9a9a9;
$primary: #3dc685;
$secondary: #ffc857;

$text-strong: $text;
$link: $primary;
$info: $secondary;
$success: $primary;
$warning: $secondary;
$danger: #ef6461;
$dark: $background;
$black: $background;

// Orbiter theme vars
$light: $text;
$primary-color: $primary;
$secondary-color: $secondary;
$base-color: $text-light;
$border-color: $text-light;
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Inter', sans-serif;
$grad-color: linear-gradient(to bottom, #05a5f9, #10dab7);

$body-background-color: $background;
$button-text-hover-background-color: $text;
$carousel-arrow-color: $background;
$card-background-color: $background;
$input-background-color: $background;
$footer-background-color: $background;

$navbar-background-color: $background;
$navbar-item-color: $text;
$navbar-item-hover-color: $secondary;
$navbar-item-hover-background-color: transparent !important;
$navbar-item-active-color: $secondary;
$navbar-item-active-background-color: $background;
$navbar-item-hover-background-color: $background;
$navbar-burger-color: $text;
$navbar-box-shadow-size: 0;
$navbar-box-shadow-color: $primary;
$navbar-item-active-background-color: $background;

$table-background-color: $background;
$table-row-hover-background-color: #313131;

$button-background-color: $background;
$radio-active-background-color: $primary;
$button-active-color: $primary;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$control-radius: 999px;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
  (
    'white': (
      $white,
      $black,
    ),
    'black': (
      $black,
      $white,
    ),
    'light': (
      $light,
      $light-invert,
    ),
    'dark': (
      $dark,
      $dark-invert,
    ),
    'primary': (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    'link': (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    'info': (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    'success': (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    'warning': (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    'danger': (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
  ),
  $custom-colors
);

// Links
/*$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;*/

// Import Bulma and Buefy styles
@import 'node_modules/bulma/bulma';

@import './orbiter.scss';

.navbar-start {
  @extend .ml-auto;
}

@media screen and (min-width: 1024px) {
  .navbar-end {
    margin-left: unset;
  }
}

.navbar.is-dark .navbar-brand > a.navbar-item:hover {
  background-color: transparent;
}

.navbar-link:focus {
  background-color: transparent !important;
  text-decoration: none;
}

.navbar-link {
  text-decoration: none;
}

.shadowed {
  -webkit-box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 0.2);
}

.shadowed-dark {
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
  background-color: $background;
}

h1 span,
#pricing h2 span,
#maintenance-pricing h2,
#value-proposition p span,
#cases span,
#services span,
#about span,
.card-content span {
  color: $secondary;
  font-weight: 700;
}

p a {
  color: $primary;
  text-decoration: underline;
}
a:hover {
  color: $primary;
}

.rounded {
  border-radius: 30px;
}

.bordered {
  border: $text-light 1px solid;
}

.carousel-list {
  box-shadow: none !important;
}

.about-mobile {
  margin: 3rem;
  @include mobile {
    margin-left: 0;
    margin-right: 0;
  }
}

.mobile-padding {
  padding: 3rem;
  @include mobile {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.footer a {
  color: $text-light;
}

.is-fullwidth {
  width: 100%;
}
.is-fullwidth .button {
  width: 100%;
}

.button {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.form-message-bots {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

/* Animated CTA */
.shiny {
  animation-name: shine;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0)
  );
  background-position: -3000px 0;
  background-repeat: no-repeat;
}

@keyframes shine {
  from {
    background-position: -3000px 0;
  }
  to {
    background-position: 3000px 0;
  }
}
/* Highlight js overrides */
code {
  border-radius: 10px;
  background-color: #22272e;
  color: #96d0ff;
}
pre {
  background-color: transparent;
}
