.card-tag:hover,
.card-tag,
.card-tag:active,
.card-tag:visited {
  text-decoration: none !important;
  color: var(--sl-color-text);
}
.card-tag div {
  text-decoration: none !important;
  color: var(--sl-color-text);
}
