---
import { Card } from '@astrojs/starlight/components';
import { readdir, readFile } from 'fs/promises';
import path from 'path';
import '../style/home.css';
import { fileURLToPath } from 'url';
const __filename = fileURLToPath(import.meta.url);
const __dirname = path.dirname(__filename);
const packagesDirRelativeLocation = '../../../packages';
const getDirectories = async (source: string) =>
  (await readdir(path.join(__dirname, source), { withFileTypes: true }))
    .filter((dirent) => dirent.isDirectory())
    .map((dirent) => dirent.name);
const response = await getDirectories(packagesDirRelativeLocation);
const allPackageDotJsonPaths = response.map((r) =>
  path.join(__dirname, packagesDirRelativeLocation, r, 'package.json')
);
const packageDefinitions = await Promise.all(
  allPackageDotJsonPaths
    .map(async (p) => {
      try {
        return JSON.parse(await readFile(p, 'utf8'));
      } catch (e) {
        return undefined;
      }
    })
    .filter((v:any) => v !== undefined)
);
---

<div style="display:flex;flex-direction: column;column-gap: 1vh;row-gap: 1vw;">
  {
    packageDefinitions.map((j) => (
   ( j?.name && j?.description)?<a href={'/plugin/' + (j?.name ?? '')} class="card-tag">
        <Card title={j?.name}>
          <div style="display:flex; flex-direction: row;width: 80vw;column-gap: 3vh;row-gap: 3vw;">
            <div style="background-image: url('/favicon.png'); width: 10vw; height: 20vh; background-size : cover;">
            </div>
            <div>
              {j?.description}
            </div>
          </div>
        </Card>
      </a>:<span></span>
    ))
  }
</div>
