::ng-deep {
  $ct-line-width: 2px !default;
  $ct-area-opacity: 0.5 !default;
  $ct-series-colors: (
    var(--color-primary-300),
    var(--color-accent-300),
    var(--color-primary-800),
    var(--color-accent-800),
    #453d3f,
    #59922b,
    #0544d3,
    #6b0392,
    #e6805e,
    #dda458,
    #eacf7d,
    #86797d,
    #b2c326,
    #6188e2,
    #a748ca
  ) !default;

  @import 'chartist/dist/index.scss';
  svg.ct-chart-bar,
  svg.ct-chart-line {
    overflow: visible;
  }
  .ct-label.ct-label.ct-horizontal.ct-end {
    position: relative;
    justify-content: flex-end;
    text-align: right;
    transform-origin: 100% 0;
    transform: translate(-100%) rotate(-45deg);
    white-space: nowrap;
  }
  .ct-series-a .ct-slice-pie,
  .ct-series-a .ct-area {
    fill: url(#gradient);
  }

  .ct-point {
    opacity: 0.5;
    transition: opacity 0.1s;
  }

  .chartist-tooltip {
    position: absolute;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-weight-100);
    padding: 4px;
    opacity: 0;
    transition: opacity 0.1s, top 0.1s, left 0.1s;
    font-size: 12px;
    background: var(--color-component-bg-100);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    text-align: center;

    &.tooltip-show {
      opacity: 0.9;
    }
  }

  .ct-tooltip-hover {
    opacity: 1;
  }

  .tooltip-date {
    color: var(--color-text-200);
  }
  .tooltip-value {
    color: var(--color-primary-600);
    font-size: 14px;
    text-align: center;
  }
  .ct-legend {
    position: relative;
    z-index: 10;
    display: flex !important;
    justify-content: center;

    li {
      position: relative;
      padding-left: 23px;
      margin-bottom: 3px;
      display: inline;
      margin-left: 20px;
    }

    li:before {
      width: 12px;
      height: 12px;
      position: absolute;
      left: 0;
      content: '';
      border: 3px solid transparent;
      border-radius: 2px;
      margin-top: 5px;
    }

    li.inactive:before {
      background: transparent;
    }

    &.ct-legend-inside {
      position: absolute;
      top: 0;
      right: 0;
    }

    @for $i from 0 to length($ct-series-colors) {
      .ct-series-#{$i}:before {
        background-color: nth($ct-series-colors, $i + 1);
        border-color: nth($ct-series-colors, $i + 1);
      }
    }
  }
}

:host {
  display: block;
  padding-bottom: 28px;
}

#chart {
  position: relative;
}
