---
import Layout from '../layouts/Layout.astro';
---

<Layout metaTitle="404" metaDescription="Page not found">
  <div
    class="grid min-h-full grid-cols-1 grid-rows-[1fr_auto_1fr] bg-white lg:grid-cols-[max(50%,36rem)_1fr]"
  >
    <main
      class="mx-auto w-full max-w-7xl px-6 py-24 sm:py-32 lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:px-8"
    >
      <div class="max-w-lg">
        <p class="text-base/8 font-semibold text-green-600">404</p>
        <h1
          class="mt-4 text-5xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-6xl"
        >
          Page not found
        </h1>
        <p
          class="mt-6 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
        >
          Sorry, we couldn’t find the page you’re looking for.
        </p>
        <div class="mt-10">
          <a href="/" class="text-sm/7 font-semibold text-green-600"
            ><span aria-hidden="true">&larr;</span> Back to home</a
          >
        </div>
      </div>
    </main>
    <div
      class="hidden lg:relative lg:col-start-2 lg:row-start-1 lg:row-end-4 lg:block"
    >
      <img
        src="/pinetree.webp"
        alt="Pine Tree not found"
        class="absolute inset-0 size-full object-cover"
      />
    </div>
  </div>
</Layout>
