---
import '../styles/theme.scss';
import { getPackageJsons } from '../api/plugins';

const packageDotJsons = await getPackageJsons();
console.log(packageDotJsons[0].name);
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pinelab Vendure Plugins</title>

    <link rel="shortcut icon" href="/favicon.png" />
  </head>


</html>
