---
import MainLayout from '../layouts/MainLayout.astro';
import { getPlugins } from '../api/plugins';

const plugins = await getPlugins();
---

<MainLayout>
  <div class="columns is-multiline custom-grid">
    {
      plugins.map((plugin) => (
        <div class="column is-6-widescreen is-6-tablet">
          <div class="plugin-block has-text-centered bordered">
            <a href={`/plugin/${plugin.slug}`}>
              <i class={`mdi mdi-${plugin.icon} mdi-36px`} />
              <h5>{plugin.name}</h5>
              <p>{plugin.description}</p>
            </a>
          </div>
        </div>
      ))
    }
  </div>
</MainLayout>

<style>
  .plugin-block {
    padding: 50px 40px;
    border-radius: 10px;
    height: 100%;
  }
  .plugin-block a {
    color: unset;
    text-decoration: none;
  }
  .plugin-block i {
    color: #3dc685;
    text-decoration: none;
  }
  .plugin-block i {
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
  }
</style>
