---
import MainLayout from '../layouts/MainLayout.astro';
import { getPackageJsons } from '../api/plugins';

const packageDotJsons = await getPackageJsons();
console.log(packageDotJsons[0].name);
---

<MainLayout>
  <!-- <div class="columns">
    <div class="column is-4">
      <div class="about-item">
        <div class="icon">
          <span class="icon is-large">
                <i class="mdi mdi-hand-heart mdi-48px"></i>
              </span>
            </div>
            <div class="content">
              <h4 class="mt-3 mb-3">Opinionated</h4>
              <p class="mb-5">
    Did you know 64% of built features are never used?
    <br><br>
    We help you decide on the right things to build, instead of just
    building everything you ask us.
  </p>
</div>
</div>
</div> -->

  <div class="columns is-multiline custom-grid">
    {
      packageDotJsons.map((packageJson) => (
        <div class="column is-6-widescreen is-6-tablet">
          <div class="plugin-block has-text-centered bordered">
            <i class="mdi mdi-hand-heart mdi-36px" />
            <h5>{packageJson.name}</h5>
            <p>{packageJson.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</MainLayout>

<style>
  .plugin-block {
    padding: 50px 40px;
    border-radius: 10px;
  }
  .plugin-block i {
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
  }
</style>
