---
import MainLayout from '../layouts/MainLayout.astro';
import { getPlugins } from '../api/plugins';

const plugins = await getPlugins();
---

<MainLayout>
  <div class="container">
    <div class="columns is-justify-content-space-between is-align-items-center">
      <div
        class="column is-7-desktop has-text-centered-mobile has-text-centered-tablet has-text-left-desktop"
      >
        <h1 class="mb-4">
          Battle tested <br />
          <span class="is-blue">Vendure</span> plugins
        </h1><p class="mb-4">
          Vendure plugins built by Pinelab, used for solving real problems for
          our clients.
        </p>
      </div><div class="column is-4-desktop is-hidden-mobile has-text-right">
        <img
          src="/silver-partner.svg"
          alt="Made by a Vendure Silver Partner!"
          class="img-fluid"
          style="max-height: 300px;"
        />
      </div>
    </div>
  </div>
  <br />
  <br />

  <div class="columns is-multiline custom-grid">
    {
      plugins.map((plugin) => (
        <div class="column is-4-widescreen is-6-tablet">
          <div class="plugin-block has-text-centered bordered">
            <a href={`/plugin/${plugin.slug}`}>
              <i class={`mdi mdi-${plugin.icon} mdi-36px`} />
              <h5>{plugin.name}</h5>
              <p>{plugin.description}</p>
            </a>
          </div>
        </div>
      ))
    }
  </div>
</MainLayout>

<style>
  .plugin-block {
    padding: 50px 40px;
    border-radius: 10px;
    height: 100%;
  }
  .plugin-block a {
    color: unset;
    text-decoration: none;
  }
  .plugin-block i {
    color: #3dc685;
    text-decoration: none;
  }
  .plugin-block i {
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
  }
</style>
