---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 pb-24">
      <div class="max-w-xl">
        <span class="text-sm uppercase font-medium tracking-wide text-blue-600"
          >Need help?</span
        >
        <h2
          class="text-purple-900 font-semibold tracking-tight lg:text-5xl mt-6 text-3xl"
        >
          Plugin support
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">
            Please create an issue at 
            <a
            class="text-blue-600 hover:underline"
              href="https://github.com/Pinelab-studio/pinelab-vendure-plugins/issues"
              >our GitHub repository</a
            >.
             for questions, bugs or feature requests, 
            and we will get back to as soon as possible!
          </p>
          <p class="text-slate-500 mt-4">
            For paid plugin users, please supply the email address with which
            you've registered on the Vendure Hub, so that we can match your
            GitHub account with the purchased license.
          </p>
          <p class="text-slate-500 mt-4">
            Because of the large variety of issues, we can not guarantee a
            response time for created issues, but we will do our best to help you as
            soon as possible. We also use all our plugins in live projects, so we are
            pretty motivated to fix bugs 😎
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
