---
import '../styles/theme.scss';
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pinelab Vendure Plugins</title>

    <link rel="shortcut icon" href="/favicon.png" />
  </head>

  <body>

    <div id="navbar" class="navigation py-4">
      <div class="container">
        <nav role="navigation" aria-label="main navigation" class="navbar is-dark">
          <div class="navbar-brand">
            <a href="/" class="navbar-item">
              <img src="/pinelab-logo-white-small.png" alt="Pinelab logo" style="width:150px;">
            </a>
            </div>
            <div class="navbar-menu">
              <div class="navbar-start"></div>
              <div class="navbar-end"><div class="navbar-item"><div><!----><a href="/contact/" class="button cta is-primary shiny"><strong>CONTACT</strong></a></div></div></div>
            </div>
            </nav>
            </div>
            </div>
<!---->
<a href="/contact/" class="button cta is-primary shiny">
<strong>CONTACT</strong>
</a>
    


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <footer class="footer">
      <div class="container content has-text-centered pb-6">
        <p>
          <a href="mailto:plugins@pinelab.studio">plugins@pinelab.studio</a> •
          <a href="https://calendly.com/pinelab-martijn/how-can-we-help"
            >Schedule a call</a
          > • VAT NL003062075B68 • CoC 76205436 •
          <a href="https://github.com/Pinelab-studio" target="_blank">
            <b-icon icon="github" size="is-small">
</b-icon>
          </a>
          • <a href="https://regreener.earth/pinelab-studio" target="_blank"
            >🌲 Trees planted</a
          >
          • <a href="https://pinelab.studio/toc.pdf" target="_blank"
            >Terms and Conditions</a
          >
        </p>
      </div>
    </footer>
  </body>
</html>
