---
const { name, contributions, image } = Astro.props;
---

<div class="relative">
  <div class="peer flex items-center hover:cursor-pointer">
    <img class="aspect-square w-12 rounded-full sm:w-20" src={image} alt="" />
  </div>
  <div
    class="absolute z-10 mt-1 hidden flex-col bg-gray-900 text-base-contrast drop-shadow-lg p-2 rounded peer-hover:flex hover:flex"
  >
    <p class="whitespace-nowrap">{name}</p>
    <p class="whitespace-nowrap text-xs text-gray-400">
      {contributions} contributions
    </p>
  </div>
</div>
