---
const footerSections = [
  {
    title: 'Navigation',
    links: [
      { href: '/system/overview', label: 'Overview' },
      { href: '/styleguide', label: 'Style guide' },
    ],
  },
  {
    title: 'More themes',
    links: [
      { href: 'https://www.lexingtonthemes.com', label: 'Lexington Themes' },
    ],
  },
  {
    title: 'Stay updated',
    links: [
      {
        href: 'https://www.lexingtonthemes.com/legal/license',
        label: 'License',
      },
      {
        href: 'https://lexingtonthemes.com/documentation/quick-start/',
        label: 'Documentation',
      },
    ],
  },
  {
    title: 'Socials',
    links: [
      {
        href: 'https://twitter.com/lexingtonthemes',
        label: '@lexingtonthemes',
      },
      { href: 'https://twitter.com/Mike_Andreuzza', label: '@Mike_Andreuzza' },
    ],
  },
];
---

<footer class="bg-purple-900">
  <div
    class="items-center max-w-7xl lg:px-16 md:px-12 mx-auto px-8 xl:px-24 pt-24 pb-12"
  >
    <div class="xl:gap-8 xl:grid xl:grid-cols-3">
      <div class="text-white xl:col-span-3">
        <a
          title="Home"
          aria-label="Pinelab home"
          href="/"
          class="text-xl text-white font-semibold tracking-tight inline-flex gap-2 items-center"
        >
          <img src="/pinelab.png" class="h-5" />
          Pinelab.studio
        </a>
      </div>
    </div>
  </div>

  <div class="items-center max-w-7xl lg:px-16 md:px-12 mx-auto px-8 xl:px-24 ¨">
    <div
      class="sm:flex sm:items-center sm:justify-between border-t py-12 border-white/10"
    >
      <h3 class="text-xs leading-6 text-slate-500">
        VAT NL003062075B68 • CoC 76205436 • <a
          href="mailto:martijn@pinelab.studio">martijn@pinelab.studio</a
        >
        • <a href="mailto:niels@pinelab.studio">niels@pinelab.studio</a>
      </h3>
      <div class="mt-3 flex items-center sm:ml-4 sm:mt-0">
        <div class="flex space-x-6 items-center">
          <a
            class="text-slate-500 hover:text-white font-normal text-xs"
            title="Support"
            aria-label="Support page"
            href="/support">Support and Terms & Conditions</a
          >

          <a
            class="text-slate-500 hover:text-white font-normal text-xs"
            title="Pinelab website"
            aria-label="Pinelab website"
            href="https://pinelab.studio"
          >
            Pinelab.studio</a
          >
          <a
            title="Github"
            aria-label="Github"
            href="https://github.com/Pinelab-studio"
            class="text-slate-500 hover:text-slate-400"
          >
            <span class="sr-only">GitHub</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-github"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
