<script is:inline>
  const googleAnalyticsId = 'G-1W9ZRN5898';
  function loadAnalytics() {
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('consent', 'default', {
      ad_storage: 'denied',
      analytics_storage: 'denied',
    });

    var script = document.createElement('script');
    script.async = true;
    script.src = `https://www.googletagmanager.com/gtag/js?id=${googleAnalyticsId}`;
    document.head.appendChild(script);

    gtag('js', new Date());

    gtag('config', googleAnalyticsId, {
      anonymize_ip: true,
      storage: 'none',
    });

    gtag('consent', 'update', {
      ad_storage: 'granted',
      analytics_storage: 'granted',
    });
  }

  function acceptCookies() {
    document.cookie = 'consent_given=true; path=/; max-age=31536000'; // 1 year expiry
    loadAnalytics(); // Load GA only after consent
  }

  function declineCookies() {
    document.cookie = 'consent_given=false; path=/; max-age=31536000'; // 1 year expiry
  }

  window.onload = function () {
    if (document.cookie.includes('consent_given=true')) {
      loadAnalytics(); // If consent was already given, load GA
    } else {
      // No consent given, show cookie banner
      document.getElementById('cookie-banner').style.display = 'block';
    }
  };
</script>
<!-- Cookie banner -->
<div
  id="cookie-banner"
  class="fixed hidden bottom-0 left-0 right-0 bg-gray-800 text-white p-4 flex flex-col md:flex-row justify-between items-center"
>
  <div
    class="container mx-auto flex flex-col md:flex-row justify-between items-center"
  >
    <p class="text-sm mb-4 md:mb-0">
      We use cookies to analyze site traffic and improve your experience. By
      clicking "Accept", you agree to our use of analytics cookies. You can
      change your preference at any time in your browser settings.
    </p>
    <div class="flex gap-4">
      <button
        onclick="declineCookies()"
        class="px-4 py-2 text-sm border border-white rounded-md hover:bg-gray-700 transition-colors"
      >
        Decline
      </button>
      <button
        onclick="acceptCookies()"
        class="px-4 py-2 text-sm border border-white rounded-md hover:bg-gray-700 transition-colors"
      >
        Accept
      </button>
    </div>
  </div>
</div>
