---
import Blink from './base/Blink.astro';
import Cta from './base/Cta.astro';
---

<section class="my-8 flex flex-col gap-8 lg:flex-row lg:items-center">
  <!-- Text left -->
  <div class="flex-1">
    <h1 class="mb-4 text-5xl font-bold lg:text-7xl">
      <span class="text-nowrap">Battle-tested</span> Vendure plugins<Blink />
    </h1>
    <div class="text-base-contrast space-y-4 [&_a]:underline">
      <p>
        Vendure plugins built by <a
          href="https://pinelab.studio"
          target="_blank">Pinelab</a
        >, used for solving real problems for our clients. Licensed under MIT,
        free to use, forever.
      </p>
      <p>
        Happy with our plugins? <a
          href="https://www.trustpilot.com/review/pinelab.studio"
          target="_blank">Consider leaving us a review</a
        >.
      </p>
    </div>
    <!-- CTA Buttons -->
    <div class="mt-6 flex flex-wrap gap-4">
      <Cta
        href="https://pinelab.studio/contact/"
        target="_blank"
        variant="primary"
      >
        Build me something custom
      </Cta>
      <Cta href="/#plugins" variant="secondary">Plugins ↓</Cta>
    </div>
  </div>

  <!-- Silver Partner Image right -->
  <div class="lg:w-1/2 flex justify-center">
    <img
      src="/silver-partner.svg"
      alt="Built by Pinelab, official Vendure Silver Partner"
      loading="eager"
      class="w-72 max-w-full"
    />
  </div>
</section>
